#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

nav ul li {
  cursor: pointer;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-card {
  background-color: #88898850;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.product-card img {
  align-self: center;
  width: 50%;
  height: 50%;
}
